<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Jessica's Music</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">Jessica's Music</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div>
            <div class="row center">
              <div class="card">
                <a href="album.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/Covers/13.jpg" alt="album" height="280px" width="330px" />
                </a>
                <div class="card-body">
                  <a href="album.html">
                    <h2>13 by The Blur</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">$12</div>
                </div>
              </div>
              <div class="card">
                <a href="album.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/Covers/AnotherGreenWorld.jpg" alt="album"  height="280px" width="330px"/>
                </a>
                <div class="card-body">
                  <a href="album.html">
                    <h2>Another Green World by Brian Eno</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">$12</div>
                </div>
              </div>
              <div class="card">
                <a href="album.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/Covers/Cicada.jpg" alt="album" height="280px" width="330px" />
                </a>
                <div class="card-body">
                  <a href="album.html">
                    <h2>Cicada</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">$12</div>
                </div>
              </div>
              <div class="card">
                <a href="album.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/Covers/EgeBamyasi.jpg" alt="album"  height="280px" width="330px"/>
                </a>
                <div class="card-body">
                  <a href="album.html">
                    <h2>Ege Bamyasi by Can</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">$12</div>
                </div>
              </div>
              <div class="card">
                <a href="album.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/Covers/KingOfLimbs.jpg" alt="album"  height="280px" width="330px"/>
                </a>
                <div class="card-body">
                  <a href="album.html">
                    <h2>King of Limbs by Radiohead</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">$12</div>
                </div>
              </div>
              <div class="card">
                <a href="album.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/Covers/Low.jpg" alt="album"  height="280px" width="330px"/>
                </a>
                <div class="card-body">
                  <a href="album.html">
                    <h2>Low by David Bowie</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-half-o"></i> </span>
                  </div>
                  <div class="price">$12</div>
                </div>
              </div>
            </div>
          </div>
      </main>
      <footer class="row center">All right reserved Jessica Elsener 2020</footer>
    </div>
  </body>
</html>